<div class="{{wineIsOnSale ? '' : 'wine__card--notOnSale'}} wine__card">
  <h2>{{wineTitle | uppercase}}</h2>
  <img src="{{wineImageUrl}}" alt="" class="wine__image"/>
  <div class="wine__origin">
    <p>{{wineYear}} - {{wineGrapes}}</p>
    <p>{{wineCountry}} - {{wineRegion}}</p>
  </div>
  <p>{{wineDescription}}</p>
  <p>{{winePrice | currency:'EUR':'symbol':'1.2-2' }}</p>
  <div class="wine__price">
    <button (click)="decreaseAmount()" [disabled]="false">-</button>
    <p>{{wineQuantityInChart}}</p>
    <button (click)="increaseAmount()">+</button>
  </div>
</div>