<div [ngClass]="currentClasses()">
  <img src="{{wine.imageUrl}}" alt="" class="wine__image"/>
  <h2>{{wine.title | uppercase}}</h2>
  <div *ngIf='!wine.isOnSale' class="wine__notOnSale">
    <p>not on sale</p>
  </div>
  <div class="wine__origin">
    <p>{{wine.year}} - {{wine.grapes}}</p>
    <p>{{wine.country}} - {{wine.region}}</p>
  </div>
  <p>{{wine.description}}</p>
  <div class="wine__matchingFood">
    <p>Better served with: {{food.name}}</p>
    <p>[{{food.kcal + 'kcal, vegan: ' + food.vegan + ', gluten: ' + food.gluten}}]</p>
  </div>
  <div class="wine__price">
    <p>{{wine.price | currency:'EUR':'symbol':'1.2-2' }}</p>
  </div>
  <div class="wine__quantity">
    <button (click)="decreaseAmount()" *ngIf='wine.isOnSale && wine.quantityInChart !== 0'>-</button>
    <input [(ngModel)]='wine.quantityInChart' />
    <button (click)="increaseAmount()" *ngIf='wine.isOnSale'>+</button>
  </div>
</div>